.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 ($size__site-sidebar + $size__site-sidebar-margin) 0 0;

	@media screen and (max-width: $mobile-breakpoint) {
		width: $size__site-main;
		float: none;
	}
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;

	@media screen and (max-width: $mobile-breakpoint) {
		width: $size__site-main;
		float: none;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
