.site-content {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 $padding__site-main;
}

.content-area.single-column {
	float: left;
	margin: 0;
	width: $size__site-main;

	.site-main {
		margin: 0;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
