.first-column {
  width: 47%;
  float:left;
  margin-right: 3%;

  @media screen and (max-width: $mobile-breakpoint) {
    width:100%;
  }
}

.second-column {
  width: 50%;
  float:left;

  @media screen and (max-width: $mobile-breakpoint) {
    width:100%;
  }
}
