@font-face {
    font-family: 'Wisdom Script';
    src: url('fonts/wisdom_script_ai-webfont.eot');
    src: url('fonts/wisdom_script_ai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wisdom_script_ai-webfont.woff2') format('woff2'),
         url('fonts/wisdom_script_ai-webfont.woff') format('woff'),
         url('fonts/wisdom_script_ai-webfont.ttf') format('truetype'),
         url('fonts/wisdom_script_ai-webfont.svg#wisdom_script_airegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans Black';
    src: url('fonts/ostrich-black-webfont.eot');
    src: url('fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich-black-webfont.woff2') format('woff2'),
         url('fonts/ostrich-black-webfont.woff') format('woff'),
         url('fonts/ostrich-black-webfont.ttf') format('truetype'),
         url('fonts/ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
