h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading;
	text-align:center;
}

h1 {
	font-size: $font__heading-1-size;
	text-transform: uppercase;

	.widget-area & {
		font-size: $font__heading-1-size - 0.2em;
	}
}

h2 {
	font-size: $font__heading-2-size;

	.page & {
		font-size: $font__heading-2-size + 0.7em;
		font-family: $font__swirly-heading;
	}
}

h3 {
	font-size: $font__heading-3-size;
}
