.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */

.widget_search {
	text-align: center;

	.search-submit {
		display: none;
	}

	.search-field {
		width: 94%;
	}
}

/* Instagram widget. */
.instagram-pics {
  list-style:none;
  padding: 0;

	li {
		width: 47%;
		float: left;
		margin-bottom: 6%;

		&:nth-child(odd) {
			margin-right: 6%;
		}
	}
}
