$font__main: 'Muli', sans-serif;
$font__heading: 'Ostrich Sans Black', sans-serif;
$font__swirly-heading: 'Wisdom Script', 'Monotype Corsiva', 'Apple Chancery', cursive;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__heading-1-size: 2em;
$font__heading-2-size: $font__heading-1-size - 0.2em;
$font__heading-3-size: $font__heading-2-size - 0.2em;
