.main-navigation,
.footer-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: center;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		position: relative;
		display: inline-block;
		padding: 0 8px;
		text-decoration: none;
		letter-spacing: 2px;
		font-size: 0.75em;
		text-transform: uppercase;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.footer-navigation {
	margin-bottom: 20px;
}

/* Small menu. */
// .menu-toggle {
// 	display: none;
// }
//
// @media screen and (max-width: $mobile-breakpoint) {
// 	.menu-toggle,
// 	.main-navigation.toggled .nav-menu {
// 		display: block;
// 	}
//
// 	.main-navigation ul {
// 		display: none;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
