/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

.site-logo__image
{
    text-align: center;
    margin-top: 20px;

    @media screen and (max-width: $mobile-breakpoint) {
      padding: 0 $padding__site-main;
    }
}

.site-logo__link
{
    display: block;
    text-align: center;
}

.site-footer
{
  padding-bottom: 20px;
}
